<header class="header d-flex justify-content-between position-relative w-100">
    <form class="position-relative">
        <input type="text" placeholder="Search">
        <button type="submit" class="search-icon p-0"><i class="fas fa-search"></i></button>
    </form>
    <a href="javascript:void(0);" class="text-white user-icon mt-4"><i class="fas fa-user"></i></a>
</header>
<button class="btn btn-default d-lg-none text-right position-relative" (click)="toggleSidebar()"><i class="fas fa-bars"></i></button>