.header {
    background-color: #0038D1;
    height: 80px;
    z-index: 99;
    form {
        margin-left: 238px;
        padding: 22px 0;
        input[type=text] {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid #fff;
            padding-left: 40px;
            color: #fff;
            &:focus {
                outline: none;
            }
        }
         ::placeholder {
            color: #fff;
        }
        .search-icon {
            color: white;
            font-size: 16px;
            background: transparent;
            border: 0;
            position: absolute;
            top: 24px;
            left: 0;
            width: auto;
        }
    }
    .user-icon {
        display: inline-block;
        width: 36px;
        height: 36px;
        background-color: #4B4B4B;
        border-radius: 50%;
        text-align: center;
        padding-top: 5px;
        margin-right: 50px;
    }
}

button {
    color: white;
    background: #0038D1;
    display: block;
    z-index: 99;
    &:hover {
        color: #fff;
    }
}

@media screen and (max-width:768px) {
    .header {
        form {
            margin-left: 20px;
        }
        .search-icon {
            top: 0;
            left: -100px;
        }
        .user-icon {
            margin-right: 12px;
        }
    }
}