<div class="info-container">
    <div class="info-wrapper pt-2 mt-5 mx-auto">
        <h1 class="pl-5 pt-4">Select Information</h1>
        <form class="pt-md-4 pl-3">
            <div class="row no-gutters">
                <div class="col-12 col-md-12  col-lg-6 mb-3">
                    <input type="text" class="form-control is-valid" placeholder="Joe Stant Smith">
                </div>
                <div class="col-12 col-md-12  col-lg-6 mb-3">
                    <input type="text" class="form-control is-invalid" placeholder="54621511641641">
                </div>
            </div>
            <div class="row pt-4 no-gutters">
                <div class="col-12 col-md-12  col-lg-6 mb-3">
                    <input type="email" class="form-control" placeholder="E-mail">
                </div>
                <div class="col-12 col-md-12  col-lg-6 mb-3">
                    <input type="text" class="form-control" placeholder="website">
                </div>
            </div>
            <div class="pt-4">
                <input type="password" class="form-control" placeholder="password">
            </div>
            <div class="row pt-4 pb-5">
                <div class="col-12 col-md-12  col-lg-6 mb-3">
                    <input type="password" class="form-control" placeholder="Confrim Password">
                </div>
                <div class="col-12 col-md-12  col-lg-6 mb-3">
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
</div>