.info-container {
    margin-left: 180px;
    margin-top: 59px;
    .info-wrapper {
        max-width: 726px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        h1 {
            font-size: 26px;
            &::after {
                content: '';
                display: block;
                border-bottom: 3px solid #0038D1;
                width: 80px;
            }
        }
        form {
            input,
            button {
                width: 295px;
                height: 53px;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .info-container {
        margin-left: 0;
        .info-wrapper {
            max-width: 320px;
        }
    }
}