<aside class="sidebar position-fixed">
    <ul class="sidebar-list">
        <li>
            <a href="javascript:void(0);" routerLink="/dashboard" class="d-block"><img src="../../assets/images/dashboard.png" alt="dashboard" class="pr-3">Dashboard</a>
        </li>
        <li>
            <a href="javascript:void(0);" routerLink="/info" class="d-block"><img src="../../assets/images/permission linear.svg" class="pr-3" alt="permissions">Information </a>
        </li>
        <li>
            <a href="javascript:void(0);" routerLink="/role" class="d-block"><img src="../../assets/images/permission linear.svg" class="pr-3" alt="permissions">Role</a>
        </li>
    </ul>
</aside>