.sidebar {
    width: 180px;
    height: 100%;
    background-color: #4B4B4B;
    left: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
    bottom: 0;
    .sidebar-list {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 130px;
        li {
            a {
                color: #fff;
                font-size: 14px;
                border-left: 6px solid transparent;
                width: 180px;
                height: 54px;
                padding-left: 29px;
                line-height: 50px;
                &:hover {
                    border-left: 6px solid #0038D1;
                    text-decoration: none;
                }
            }
        }
    }
}

@media(max-width:768px) {
    .sidebar {
        width: 100%;
        z-index: 9;
        right: 0;
        transition: all 0.4s ease-in-out;
    }
}