<div class="dashboard-warpper">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 col-md-6 mb-3 col-lg-4">
                <div class="dashboard-data">
                    <span class="d-block data-header">No of Users</span>
                    <span class="d-block data-body">239</span>
                    <span class="d-block">14 New users(lastmonth)</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3 col-lg-4">
                <div class="dashboard-data">
                    <span class="d-block data-header">No of Users</span>
                    <span class="d-block data-body">183</span>
                    <span class="d-block">21 New Companies(lastmonth)</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4  mb-3">
                <div class="dashboard-data">
                    <span class="d-block data-header">No of Users</span>
                    <span class="d-block data-body">239</span>
                    <span class="d-block">08 New Companies(lastmonth)</span>
                </div>
            </div>
        </div>

        <div class="row user-body">

            <div class="col-md-12 col-lg-7">
                <div class="user-graph pt-5">
                    <img src="../../assets/images/users-graph.png" alt="users-graph" class="img-fluid w-100">
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="monthly-wrapper mx-auto pt-5">
                    <h6 class="text-center ">April 2019</h6>
                    <div>
                        <span>06 April 2019</span>
                        <span class="px-4">:</span>
                        <span>3 New Logins</span>
                    </div>
                    <div class="pb-3">
                        <span>06 April 2019</span>
                        <span class="px-4">:</span>
                        <span>3 New Logins</span>
                    </div>
                    <hr>
                    <div class="pt-3 monthly-data mx-auto text-center">
                        <span class="pt-1">
                         Last Month
                         <p>35</p>
                     </span>
                        <span class="border-right-0 pt-1">
                        Last 2 Months
                        <p>35</p>
                    </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>