.dashboard-warpper {
    margin-left: 207px;
    margin-top: 50px;
    .dashboard-data {
        max-width: 282px;
        width: 100%;
        height: 167px;
        box-shadow: 0px 0px 1px 0px #000;
        border-radius: 6px;
        padding-top: 35px;
        padding-left: 26px;
        font-size: 14px;
        margin: 0 auto;
        &:hover {
            background-color: #4B4B4B;
            color: #fff;
            cursor: pointer;
            .data-body {
                color: #fff;
            }
        }
        .data-body {
            color: #0038D1;
            font-size: 40px;
        }
    }
    .user-body {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
        height: 300px;
        width: 95%;
        margin: auto;
        margin-top: 25px;
        border-radius: 10px;
    }
    .user-graph {
        img {
            height: 233px;
        }
    }
    .monthly-wrapper {
        width: 268px;
        span {
            font-size: 14px;
            margin-bottom: 16px;
        }
        .monthly-data {
            width: 220px;
            span {
                display: inline-block;
                width: 110px;
                height: 60px;
                border: 1px solid #707070;
                border-left: 0;
                border-collapse: collapse;
                p {
                    font-size: 20px;
                    color: #0038D1;
                }
            }
        }
    }
}

@media(max-width:768px) {
    .dashboard-warpper {
        margin-left: 0;
        .row {
            margin: auto;
            margin-top: 30px;
            margin-left: 0;
        }
        .user-body {
            margin-left: 0;
            margin: auto;
        }
    }
}