.role-wrapper {
    margin-top: 80px;
    margin-left: 180px;
    .role-type {
        max-width: 726px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        margin-top: 93px;
        h1 {
            font-size: 26px;
            &::after {
                content: '';
                display: block;
                border-bottom: 3px solid #0038D1;
                width: 80px;
            }
        }
        .role-type-body {
            width: 161px;
            height: 161px;
            border-radius: 4px;
            border: 1px solid #A1A1A1;
            p {
                color: #9F9F9F;
            }
            &:hover {
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
                p {
                    color: #0038D1;
                }
            }
        }
        button {
            width: 161px;
            height: 50px;
            border-radius: 30px;
            color: #A1A1A1;
            border: 1px solid #A1A1A1;
            font-size: 14px;
            &:hover {
                color: #fff;
            }
        }
    }
}

@media(max-width:768px) {
    .role-wrapper {
        margin: 0;
        .role-type {
            margin: 0;
        }
    }
}