<div class="role-wrapper">
    <div class="role-type mx-auto">
        <h1 class="pl-5 pt-4">Select Role Type</h1>
        <div class="row px-3 mx-5 mt-4 pt-3">
            <div class="col-md-4 mb-3">
                <div class="role-type-body text-center">
                    <img src="../../assets/images/001-pen.svg" alt="pen" class="pt-4 mt-1 pb-3">
                    <p>Graphic Designer</p>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <div class="role-type-body text-center">
                    <img src="../../assets/images/003-web-design.svg" alt="pen" class="pt-4 mt-1 pb-3">
                    <p>Graphic Designer</p>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="role-type-body text-center">
                    <img src="../../assets/images/002-web.svg" alt="pen" class="pt-4 mt-1 pb-3">
                    <p>Graphic Designer</p>
                </div>
            </div>
        </div>
        <div class="py-5 mx-5 d-flex justify-content-between">
            <button type="button" class="btn btn-outline-primary"><i class="fas fa-chevron-circle-left pr-3"></i>Back</button>
            <button type="button" class="btn btn-outline-primary">Submit <i class="fas fa-chevron-circle-right pl-3"></i></button>
        </div>
    </div>
</div>